<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.learningjavatwo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FrontHome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".GridView1" />
        <activity android:name=".Contxt" />
        <activity android:name=".Profile" />
        <activity
            android:name=".Pdfview7"
            android:parentActivityName=".Listview8" />
        <activity
            android:name=".Pdfview6"
            android:parentActivityName=".Listview7" />
        <activity
            android:name=".Pdfview5"
            android:parentActivityName=".Listview6" />
        <activity
            android:name=".Pdfview4"
            android:parentActivityName=".Listview5" />
        <activity
            android:name=".Pdfview3"
            android:parentActivityName=".Listview4" />
        <activity
            android:name=".Listview8"
            android:parentActivityName=".GridView1" />
        <activity
            android:name=".Listview7"
            android:parentActivityName=".GridView1" />
        <activity
            android:name=".Listview6"
            android:parentActivityName=".GridView1" />
        <activity
            android:name=".Listview5"
            android:parentActivityName=".GridView1" />
        <activity
            android:name=".Listview4"
            android:parentActivityName=".GridView1" />
        <activity
            android:name=".Pdfviewer2"
            android:parentActivityName=".Listview3" />
        <activity
            android:name=".Listview3"
            android:parentActivityName=".GridView1" />
        <activity
            android:name=".Pdfviewer"
            android:parentActivityName=".Listview2" />
        <activity
            android:name=".Listview2"
            android:parentActivityName=".GridView1" />
        <activity
            android:name=".Listview1"
            android:parentActivityName=".GridView1" />
        <activity
            android:name=".Webview1"
            android:parentActivityName=".Listview1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>